.custom-navbar {
    background-image: url('/assets/img/background/header-publik.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ed1c24;
}

.ellipsis-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link.active {
    color: white;
    border-bottom: 3px solid white;
    
}

.text-promosi {
    font-size: 1.5rem;
    width: 50%;
}

.btn-daftar {
    width: 50%;
}



.card-width {
    width: 14.5rem;
}

@media screen and (max-width: 450px) {
    .nav-link, .nav-link.active {
        width: 20%;
    }
    .text-promosi {
        font-size: 0.8rem;
        width: 100%;
    }
    .btn-daftar {
        width: 100%;
        margin-top: 1rem;
    }

    .card-width {
        width: 100%;
    }

    .card-img-top {
        width: 100%;
        height: 12rem;
        object-fit: cover;
    }
    
}

@media screen and (max-width: 600px ) {
    .nav-link, .nav-link.active {
        width: 20%;
    }
    .text-promosi {
        font-size: 1.1rem;
        width: 100%;
    }
    .btn-daftar {
        width: 100%;
        margin-top: 1rem;
    }
    
}

@media screen and (min-width: 600px ) {
    .text-promosi {
        font-size: 1.3rem;
        padding: 0 1rem;
    }
    .btn-daftar {
        padding: 0 1rem;
    }
    
}